acvl_utils==0.2
batchgenerators==0.25
batchgeneratorsv2==0.2.1
efficientnet_pytorch==0.6.3
hiddenlayer==0.3
inplace_abn==1.1.0
matplotlib==3.10.1
nnunetv2==2.5.1
numpy==2.2.5
pandas==2.2.3
pretrainedmodels==0.7.4
scikit_learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
SimpleITK==2.4.0
SimpleITK==2.5.0
skimage==0.0
threadpoolctl==3.6.0
timm==0.4.12
torch==2.2.2
torchvision==0.17.2
tqdm==4.66.5
